* {
    transition: 0.2s ease-in-out;
}

body {
    font-family: 'Pixelify Sans';
    background-color: rgb(235, 223, 206);
    justify-content: center;
}

h1 {
    text-align: center;
    font-size: 30px;
    margin-top: 50px;
    color: rgb(131, 87, 50);
    font-weight: bold;
    cursor: pointer;
}

h1:hover {
    color: #37221B;
}

.main-container {
    justify-content: center;
    align-items: center;
    margin-top: 70px;
}

.cup-container {
    cursor: pointer;
    width: fit-content;
    margin: auto;
    display: flex;

    transition: transform 0.3s ease-in-out;
}

@keyframes wiggleShake {
    0% {
        transform: translateX(0) scale(1);
    }

    15% {
        transform: translateX(-10px) scale(1.1);
    }

    30% {
        transform: translateX(10px) scale(1.1);
    }

    45% {
        transform: translateX(-10px) scale(1.1);
    }

    60% {
        transform: translateX(10px) scale(1.1);
    }

    75% {
        transform: translateX(-10px) scale(1.1);
    }

    100% {
        transform: translateX(0) scale(1);
    }
}

.cup {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.ground-coffe {
    visibility: hidden;
    position: absolute;
    z-index: 2;
}

.water {
    visibility: hidden;
    position: absolute;
    z-index: 4;
    opacity: 0.7;
}

.coffee {
    visibility: hidden;
    position: absolute;
    z-index: 5;
    opacity: 0.8;
}

.stir {
    visibility: hidden;
    position: absolute;
    z-index: 6;
    opacity: 1;
    top: clamp(12%, 20vw, 35%);
    left: 50%;
    transform: translateX(-50%);
}

.ice {
    visibility: hidden;
    position: absolute;
    z-index: 4;
    opacity: 0.7;
    top: clamp(12%, 25vw, 32%);
    left: 50%;
    transform: translateX(-50%);
}

.cup-highlight {
    position: absolute;
    z-index: 10;
}

.shell-container {
    width: fit-content;
    margin: 30px auto;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.shells {
    position: relative;
}

.shell {
    border-radius: 20px;
    position: relative;
    z-index: 1;
}

.shell-item {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    transition: transform 0.2s ease-in-out;
    cursor: pointer;
}

.shell-item:hover {
    transform: translateX(-50%) scale(1.2);
}

.item-name {
    margin-top: 10px;
    text-align: center;
    color: #37221B;
}

@keyframes sparkle-blink {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
}

.time-up-effect {
    animation: sparkle-blink 0.7s ease-in-out;
    animation-iteration-count: 6; /* 0.5s x 6 = 3 seconds of blinking */
}

#sparkle-bg {
    margin: auto;
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 0;
    pointer-events: none;
}

.sparkle {
    position: absolute;
    width: 30px;
    opacity: 0.6;
    animation: sparkleFloat 5s linear infinite;
}

@keyframes sparkleFloat {
    0% {
        transform: translateY(100vh);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        transform: translateY(-10vh);
        opacity: 0;
    }
}

footer{
    margin-top: 100px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    bottom: 0;
    line-height: 0.5;
}

.footer-text {
    gap: 0;
    text-align: center;
    color: rgb(131, 87, 50);
}

.footer-text:hover {
    color: #37221B;
}